extends layout

block content
h1 SIT722 DevOps Glossary
p Welcome to my website showing different terms and their description
table
  tbody
    tr
      th ID#
      th Term
      th Description
      th References
    tr
      td 1
      td Devops
      td
        | DevOps is the combination of cultural philosophies, practices, and tools that increases an organization's ability to deliver applications and services at high velocity: evolving and improving products at a faster pace than organizations using traditional software development and infrastructure management processes.
      td
    tr
      td 2
      td Keyboard
      td
        | A computer keyboard is a peripheral input device modeled after the typewriter keyboardwhich uses an arrangement of buttons or keys
      td
        | 
