extends layout

block content
  h1 SIT722 DevOps Glossary
  p Welcome to my website showing different terms and their description
    table
      thead
        tr
          th ID#
          th Term
          th Description(class="description")
          th References(class="link")
      tbody
        tr
          td 1
          td Devops
          td(class="description")
            | DevOps is the combination of cultural philosophies, practices, and tools that increases an organization's ability to deliver applications and services at high velocity: evolving and improving products at a faster pace than organizations using traditional software development and infrastructure management processes.
          td(class="link")
            |  [1] Online: <a href="https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=&cad=rja&uact=8&ved=2ahUKEwighJK106GAAxUtbmwGHQ7bAYAQFnoECBAQAw&url=https%3A%2F%2Faws.amazon.com%2Fdevops%2Fwhat-is-devops%2F&usg=AOvVaw2hGSM1UgKYzZ4WqCEEg1ET&opi=89978449">AmazonAws</a>
        tr
          td 2
          td Keyboard
          td(class="description")
            | A computer keyboard is a peripheral input device modeled after the typewriter keyboardwhich uses an arrangement of buttons or keys
          td(class="link")
            |  [1] Online: <a href="https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=&cad=rja&uact=8&ved=2ahUKEwjX2fDK1aGAAxVQcWwGHYkLBmkQFnoECCYQAQ&url=https%3A%2F%2Fen.wikipedia.org%2Fwiki%2FComputer_keyboard&usg=AOvVaw3pKav2HyBSg51kKiTzoAaB&opi=89978449">Wikipedia</a>
        tr
          td 3
          td Repository
          td(class="description")
            | a place or container where something is deposited or stored.
          td(class="link")
            |  [1] Online: <a href="https://www.merriam-webster.com/dictionary/repository#:~:text=plural%20repositories-,1,a%20repository%20of%20knowledge">Merriam Webster Dictionary</a>
        tr
          td 4
          td Github
          td(class="description")
            | GitHub, Inc. is a platform and cloud-based service for software development and version control using Git, allowing developers to store and manage their code.
          td(class="link")
            |  [1] Online: <a href="https://en.wikipedia.org/wiki/GitHub">Github</a>
        tr
          td 5
          td Github Copilot
          td(class="description")
            | GitHub, Inc. is a platform and cloud-based service for software development and version control using Git, allowing developers to store and manage their code. Copilot is an AI which generates code automatically.
          td(class="link")
            |  [1] Online: <a href="https://en.wikipedia.org/wiki/GitHub">Github Copilot</a>
        tr
          td 6
          td Software Deployment and Operation
          td(class="description")
            | Software deployment includes all of the steps, processes, and activities that are required to make a software system or update available to its intended users. Today, most IT organizations and software developers deploy software updates, patches and new applications with a combination of manual and automated processes. Some of the most common activities of software deployment include software release, installation, testing, deployment, and performance monitoring.
          td
            |  [1] Online: <a href="https://www.sumologic.com/glossary/software-deployment/">https://www.sumologic.com/glossary/software-deployment</a>
        tr
          td 7
          td Devops
          td(class="description")
            | DevOps is a combination of software development (dev) and operations (ops). It is defined as a software engineering methodology which aims to integrate the work of development teams and operations teams by facilitating a culture of collaboration and shared responsibility.
          td
            |  [1] Online: <a href="https://about.gitlab.com/topics/devops/#:~:text=DevOps%20is%20a%20combination%20of,of%20collaboration%20and%20shared%20responsibility.">Devops</a>
        tr
          td 8
          td Express Js
          td(class="description")
            | Express is a minimal and flexible Node.js web application framework that provides a robust set of features for web and mobile applications.
          td
            |  [1] Online: <a href="https://expressjs.com/">Express Js</a>
        tr
          td 9
          td Npm Js
          td(class="description")
            | npm is a package manager for the JavaScript programming language maintained by npm, Inc. npm is the default package manager for the JavaScript runtime environment Node.js. It consists of a command line client, also called npm, and an online database of public and paid-for private packages, called the npm registry.
          td
            |  [1] Online: <a href="https://en.wikipedia.org/wiki/Npm">Npm</a>
        tr
          td 10
          td Node Js
          td(class="description")
            | Node.js&copy; is a JavaScript runtime built on Chrome's V8 JavaScript engine.
          td(class="link")
            |  [1] Online: <a href="https://nodejs.org/">Node Js</a>
        tr
          td 11
          td Demographics
          td(class="description")
            | Distribution of work and contribution by various communities.
          td(class="link")
            |  [1] Online: <a href="https://www.strongdm.com/blog/devops-statistics#:~:text=The%20most%20common%20ethnicity%20of,engineer%20is%2039%20years%20old.">[1] G. Todorov, “40+ devops statistics you should know in 2023,” StrongDM, https://www.strongdm.com/blog/devops-statistics#:~:text=The%20most%20common%20ethnicity%20of,engineer%20is%2039%20years%20old. (accessed Aug. 6, 2023). </a>
      tr
          td 12
          td Firmographics
          td(class="description")
            | Firmographic data is types of information that can be used to categorize organizations, such as geographic area, number of clients, type of organization, industry, technologies used and so on. The data is used to segment organizations into meaningful categories.
          td(class="link")
            |  [1] Online: <a href="https://www.techtarget.com/whatis/definition/firmographic-data#:~:text=Firmographic%20data%20is%20types%20of,segment%20organizations%20into%20meaningful%20categories.">Wigmore, I. (2016) What is firmographic data?: Definition from TechTarget, WhatIs.com. Available at: https://www.techtarget.com/whatis/definition/firmographic-data#:~:text=Firmographic%20data%20is%20types%20of,segment%20organizations%20into%20meaningful%20categories. (Accessed: 06 August 2023). </a>
      tr
          td 13
          td Orchestration
          td(class="description")
            | Orchestration is synchronisation of a large set of application to accomplish a common goal.
          td(class="link")
            |  [1] Online: <a href="https://www.redhat.com/en/topics/automation/what-is-orchestration">Node Js</a>
      tr
          td 14
          td Kubernetes
          td(class="description")
            | It is used for management and deployment of containerised applications.
          td(class="link")
            |  [1] Online: <a href="https://kubernetes.io">The Kubernetes Authors,Available at : https://kubernetes.io</a>
      tr
          td 15
          td Helm
          td(class="description")
            | It is used for management and deployment of kubernetes which in turn manage containerised application.
          td(class="link")
            |  [1] Online: <a href="https://helm.sh/">Available at : https://helm.sh</a>
      tr
          td 16
          td Ubuntu juju
          td(class="description")
            | It is used for managing k8s by open source softwares known as charms.
          td(class="link")
            |  [1] Online: <a href="https://juju.is/">Available at : https://juju.is/</a>
      tr
          td 17
          td Private cloud
          td(class="description")
            | It is used for cloud operation on a personal level.
          td(class="link")
            |  [1] Online: <a href="https://ubuntu.com/cloud/private-cloud">Available at : https://ubuntu.com/cloud/private-cloud</a>
      tr
          td 18
          td SAAS
          td(class="description")
            | It is software as a service in which softwares are available on cloud for use.
          td(class="link")
            |  [1] Online: <a href="https://www.oracle.com/au/applications/what-is-saas/#:~:text=Software%20as%20a%20service%20(SaaS,as%2Dyou%2Dgo%20basis.">Available at : https://www.oracle.com/au/applications/what-is-saas/#:~:text=Software%20as%20a%20service%20(SaaS,as%2Dyou%2Dgo%20basis.</a>
      tr
          td 19
          td IAAS
          td(class="description")
            | It is virtualisation for hardware and physical resources and called infrastructure as a service.
          td(class="link")
            |  [1] Online: <a href="https://cloud.google.com/learn/what-is-iaas#:~:text=Infrastructure%20as%20a%20service%20(IaaS,pay%20for%20what%20they%20use.">Available at : https://cloud.google.com/learn/what-is-iaas#:~:text=Infrastructure%20as%20a%20service%20(IaaS,pay%20for%20what%20they%20use.</a>
      tr
          td 20
          td PAAS
          td(class="description")
            | It is known as Platform as a service. It provides platform to be used which can be any type of platform.
          td(class="link")
            |  [1] Online: <a href=""></a>
      tr
          td 21
          td HELM
          td(class="description")
            | With Helm, application packages are defined as charts, which are collected and stored in a Helm chart repository
          td(class="link")
            |  [1] Online: <a href="https://learn.microsoft.com/en-us/azure/container-registry/container-registry-helm-repos">https://learn.microsoft.com/en-us/azure/container-registry/container-registry-helm-repos</a>
      tr
          td 22
          td Terraform
          td(class="description")
            | Terraform is an infrastructure-as-code software tool created by HashiCorp. Users define and provide data center infrastructure using a declarative configuration language known as HashiCorp Configuration Language (HCL), or optionally JSON.
          td(class="link")
            |  [1] Online: <a href="https://en.wikipedia.org/wiki/Terraform_(software)">https://en.wikipedia.org/wiki/Terraform_(software)</a>
      tr
          td 23
          td Ansible
          td(class="description")
            | Ansible is a suite of software tools that enables infrastructure as code. It is open-source and the suite includes software provisioning, configuration management, and application deployment functionality.Originally written by Michael DeHaan and acquired by Red Hat in 2015, Ansible is designed to configure both Unix-like systems and Microsoft Windows. Ansible is agentless, relying on temporary remote connections via SSH or Windows Remote Management which allows PowerShell execution. The Ansible control node runs on most Unix-like systems that are able to run Python, including Windows with Windows Subsystem for Linux installed.System configuration is defined in part by using its own declarative language.
          td(class="link")
            |  [1] Online: <a href="https://www.ansible.com/">https://www.ansible.com/</a>
      tr
          td 24
          td AWS Cloud Formation
          td(class="description")
            | AWS CloudFormation is a service provided by Amazon Web Services that enables users to model and manage infrastructure resources in an automated and secure manner. Using CloudFormation, developers can define and provision AWS infrastructure resources using a JSON or YAML formatted Infrastructure as Code template.
          td(class="link")
            |  [1] Online: <a href="https://en.wikipedia.org/wiki/AWS_CloudFormation">https://en.wikipedia.org/wiki/AWS_CloudFormation</a>
      tr
          td 25
          td Azure Container Registry
          td(class="description")
            | Build, store, secure, scan, replicate, and manage container images and artifacts with a fully managed, geo-replicated instance of OCI distribution. We can push our private images instead of dockerhub which is public.
          td(class="link")
            |  [1] Online: <a href="https://azure.microsoft.com/en-in/products/container-registry">https://azure.microsoft.com/en-in/products/container-registry</a>
      tr
          td 26
          td Terraform
          td(class="description")
            | Infrastructure as a code and users can enter data using a special language.
          td(class="link")
            |  [1] Online: <a href="https://www.terraform.io/">https://www.terraform.io/</a>
      tr
          td 27
          td Nginx
          td(class="description")
            | A web server also known for proxy server and load balancing.It redirects traffic according to endpoints.
          td(class="link")
            |  [1] Online: <a href="https://en.wikipedia.org/wiki/Nginx">https://en.wikipedia.org/wiki/Nginx</a>
      tr
          td 28
          td Azure Storage
          td(class="description")
            | Storage as a service provided by Azure cloud. It is used to store the resources for various applications.
          td(class="link")
            |  [1] Online: <a href="https://learn.microsoft.com/en-us/azure/storage/common/storage-introduction">https://learn.microsoft.com/en-us/azure/storage/common/storage-introduction</a>
      tr
          td 29
          td Alpine Images
          td(class="description")
            | The Alpine DOI is a building block for Alpine Linux Docker containers. It's an executable software package that tells Docker and your application how to behave. The image includes source code, libraries, tools, and other core dependencies that your application needs.
          td(class="link")
            |  [1] Online: <a href="https://www.linkedin.com/advice/0/how-do-you-scale-deploy-docker-alpine-ubuntu-containers#:~:text=Alpine%20is%20a%20lightweight%20Linux,space%2C%20and%20the%20network%20bandwidth.">https://www.linkedin.com/advice/0/how-do-you-scale-deploy-docker-alpine-ubuntu-containers#:~:text=Alpine%20is%20a%20lightweight%20Linux,space%2C%20and%20the%20network%20bandwidth.</a>
      tr
          td 30
          td Microservice
          td(class="description")
            | An application which runs in a particular environment and is a part of system developed for a particular goal.
          td(class="link")
            |  [1] Online: <a href="https://en.wikipedia.org/wiki/Microservices">https://en.wikipedia.org/wiki/Microservices</a>
      tr 
          td 31
          td Rabbit Mq 
          td(class="description")
            | RabbitMQ is an open-source message-broker software that originally implemented the Advanced Message Queuing Protocol and has since been extended with a plug-in architecture to support Streaming Text Oriented Messaging Protocol, MQ Telemetry Transport, and other protocols.
          td(class="link")
            | [1] Online:<a href="https://en.wikipedia.org/wiki/RabbitMQ">https://en.wikipedia.org/wiki/RabbitMQ</a>
      tr 
          td 32
          td Amqp 
          td(class="description")
            | The Advanced Message Queuing Protocol is an open standard application layer protocol for message-oriented middleware. The defining features of AMQP are message orientation, queuing, routing, reliability and security.
          td(class="link")
            | [1] Online:<a href="https://en.wikipedia.org/wiki/Advanced_Message_Queuing_Protocol">https://en.wikipedia.org/wiki/Advanced_Message_Queuing_Protocol</a>
      tr 
          td 33
          td Nodemon 
          td(class="description")
            | A module for live reload of application.
          td(class="link")
            | [1] Online:<a href="https://www.npmjs.com/package/nodemon">https://www.npmjs.com/package/nodemon</a>
      tr 
          td 34
          td Message broker
          td(class="description")
            | A server which handles to and fro of messages.
          td(class="link")
            | [1] Online:<a href="https://www.ibm.com/topics/message-brokers#:~:text=Message%20brokers%20are%20software%20modules,focus%20on%20its%20core%20logic.">https://www.ibm.com/topics/message-brokers#:~:text=Message%20brokers%20are%20software%20modules,focus%20on%20its%20core%20logic.</a>
      tr 
          td 35
          td Direct message
          td(class="description")
            | A message which is sent from a sender to a recipient.
          td(class="link")
            | [1] Online:<a href="http://ebookcentral.proquest.com/lib/deakin/detail.action?docID=6642516">Davis, Ashley. Bootstrapping Microservices with Docker, Kubernetes, and Terraform : A Project-Based Guide, Manning Publications Co. LLC, 2021. ProQuest Ebook Central</a>
      tr 
          td 36
          td Indirect messages
          td(class="description")
            | A message which is not send directly to an existing recipient. It is like a tree with many branches. This is like a river of data which can be picked by one who needs it.
          td(class="link")
            | [1] Online:<a href="http://ebookcentral.proquest.com/lib/deakin/detail.action?docID=6642516">Davis, Ashley. Bootstrapping Microservices with Docker, Kubernetes, and Terraform : A Project-Based Guide, Manning Publications Co. LLC, 2021. ProQuest Ebook Central</a>
      tr 
          td 37
          td Single Recipient Message
          td(class="description")
            | Single-recipient messages are one-to-one : a message is sent from one microservice and received by only a single other. This is a great way of making sure that a particular job is done only once within your application
          td(class="link")
            | [1] Online:<a href="http://ebookcentral.proquest.com/lib/deakin/detail.action?docID=6642516">Davis, Ashley. Bootstrapping Microservices with Docker, Kubernetes, and Terraform : A Project-Based Guide, Manning Publications Co. LLC, 2021. ProQuest Ebook Central</a>
      tr 
          td 38
          td Single Recipient Message
          td(class="description")
            | Single-recipient messages are one-to-one : a message is sent from one microservice and received by only a single other. This is a great way of making sure that a particular job is done only once within your application
          td(class="link")
            | [1] Online:<a href="http://ebookcentral.proquest.com/lib/deakin/detail.action?docID=6642516">Davis, Ashley. Bootstrapping Microservices with Docker, Kubernetes, and Terraform : A Project-Based Guide, Manning Publications Co. LLC, 2021. ProQuest Ebook Central</a>
      tr 
          td 39
          td Wait port command
          td(class="description")
            | A command upon execution of which application waits for a port to open.
          td(class="link")
            | [1] Online:<a href="http://ebookcentral.proquest.com/lib/deakin/detail.action?docID=6642516">Davis, Ashley. Bootstrapping Microservices with Docker, Kubernetes, and Terraform : A Project-Based Guide, Manning Publications Co. LLC, 2021. ProQuest Ebook Central</a>
      tr 
          td 40
          td Kubectl
          td(class="description")
            | A command line command to handle Kubernetes pods.
          td(class="link")
            | [1] Online:<a href="http://ebookcentral.proquest.com/lib/deakin/detail.action?docID=6642516">Davis, Ashley. Bootstrapping Microservices with Docker, Kubernetes, and Terraform : A Project-Based Guide, Manning Publications Co. LLC, 2021. ProQuest Ebook Central</a>
      tr 
          td 41
          td Heartbeat
          td(class="description")
            | An algorithm to determine status of pods and nodes running those nodes in a Kubernetes cluster.
          td(class="link")
            | [1] Online:<a href="http://kubernetes.io">Kubernetes official</a>
      tr 
          td 42
          td Kubelet
          td(class="description")
            | A unit of Kubernetes which has a command runtime , an application and a database unit.
          td(class="link")
            | [1] Online:<a href="https://kubernetes.io">Kubelet</a>
      tr 
          td 43
          td CRI
          td(class="description")
            | Container Resource Interface.
          td(class="link")
            | [1] Online:<a href="http://ebookcentral.proquest.com/lib/deakin/detail.action?docID=6642516">Davis, Ashley. Bootstrapping Microservices with Docker, Kubernetes, and Terraform : A Project-Based Guide, Manning Publications Co. LLC, 2021. ProQuest Ebook Central</a>
      tr 
          td 44
          td Control Plane
          td(class="description")
            | A part of cluster architecture which deals with controlling the operations.
          td(class="link")
            | [1] Online:<a href="https://kubernetes.io/docs/concepts/architecture/control-plane-node-communication/"></a>
      tr 
          td 45
          td Service
          td(class="description")
            | A data transfer system between application and database.
          td(class="link")
            | [1] Online:<a href="https://kubernetes.io">Service</a>
      tr 
          td 46
          td Kubeproxy
          td(class="description")
            | A program which works to direct the data from correct application to correct database.
          td(class="link")
            | [1] Online:<a href="https://kubernetes.io">Kubeproxy</a>
      tr 
          td 47
          td Mongoexpress
          td(class="description")
            | A service to expose the backend information of mongo db service in form of web based gui.
          td(class="link")
            | [1] Online:<a href="https://kubernetes.io">Kubernetes</a>
      tr 
          td 48
          td Scheduler
          td(class="description")
            | A program which tells to run the required pod on required node.
          td(class="link")
            | [1] Online:<a href="https://kubernetes.io"></a>
      tr 
          td 49
          td Controller
          td(class="description")
            | A program which tells which program to be run
          td(class="link")
            | [1] Online:<a href="https://kubernetes.io">Kubernetes</a>
      tr 
          td 50
          td API server
          td(class="description")
            | A program which tells to handle request for application
          td(class="link")
            | [1] Online:<a href="https://kubernetes.io">Kubernetes</a>