extends layout

block content
  h1 SIT722 DevOps Glossary
  p Welcome to my website showing different terms and their description
    table
      thead
        tr
          th ID#
          th Term
          th Description
          th References
      tbody
        tr
          td 1
          td Devops
          td
            | DevOps is the combination of cultural philosophies, practices, and tools that increases an organization's ability to deliver applications and services at high velocity: evolving and improving products at a faster pace than organizations using traditional software development and infrastructure management processes.
          td
            |  [1] Online: https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=&cad=rja&uact=8&ved=2ahUKEwighJK106GAAxUtbmwGHQ7bAYAQFnoECBAQAw&url=https%3A%2F%2Faws.amazon.com%2Fdevops%2Fwhat-is-devops%2F&usg=AOvVaw2hGSM1UgKYzZ4WqCEEg1ET&opi=89978449
        tr
          td 2
          td Keyboard
          td
            | A computer keyboard is a peripheral input device modeled after the typewriter keyboardwhich uses an arrangement of buttons or keys
          td
            |  [1] Online: https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=&cad=rja&uact=8&ved=2ahUKEwjX2fDK1aGAAxVQcWwGHYkLBmkQFnoECCYQAQ&url=https%3A%2F%2Fen.wikipedia.org%2Fwiki%2FComputer_keyboard&usg=AOvVaw3pKav2HyBSg51kKiTzoAaB&opi=89978449
