extends layout

block content
  h1 SIT722 DevOps Glossary
  p Welcome to my website showing different terms and their description
    table
      thead
        tr
          th ID#
          th Term
          th Description
          th References
      tbody
        tr
          td 1
          td Devops
          td(class="description")
            | DevOps is the combination of cultural philosophies, practices, and tools that increases an organization's ability to deliver applications and services at high velocity: evolving and improving products at a faster pace than organizations using traditional software development and infrastructure management processes.
          td
            |  [1] Online: https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=&cad=rja&uact=8&ved=2ahUKEwighJK106GAAxUtbmwGHQ7bAYAQFnoECBAQAw&url=https%3A%2F%2Faws.amazon.com%2Fdevops%2Fwhat-is-devops%2F&usg=AOvVaw2hGSM1UgKYzZ4WqCEEg1ET&opi=89978449
        tr
          td 2
          td Keyboard
          td(class="description")
            | A computer keyboard is a peripheral input device modeled after the typewriter keyboardwhich uses an arrangement of buttons or keys
          td
            |  [1] Online: https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=&cad=rja&uact=8&ved=2ahUKEwjX2fDK1aGAAxVQcWwGHYkLBmkQFnoECCYQAQ&url=https%3A%2F%2Fen.wikipedia.org%2Fwiki%2FComputer_keyboard&usg=AOvVaw3pKav2HyBSg51kKiTzoAaB&opi=89978449
        tr
          td 3
          td Reppository
          td(class="description")
            | a place or container where something is deposited or stored.
          td
            |  [1] Online: https://www.merriam-webster.com/dictionary/repository#:~:text=plural%20repositories-,1,a%20repository%20of%20knowledge
        tr
          td 4
          td Github
          td(class="description")
            | GitHub, Inc. is a platform and cloud-based service for software development and version control using Git, allowing developers to store and manage their code.
          td
            |  [1] Online: https://en.wikipedia.org/wiki/GitHub
        tr
          td 5
          td Github
          td(class="description")
            | GitHub, Inc. is a platform and cloud-based service for software development and version control using Git, allowing developers to store and manage their code.
          td
            |  [1] Online: https://en.wikipedia.org/wiki/GitHub
        tr
          td 6
          td Software Deployment and Operation
          td(class="description")
            | Software deployment includes all of the steps, processes, and activities that are required to make a software system or update available to its intended users. Today, most IT organizations and software developers deploy software updates, patches and new applications with a combination of manual and automated processes. Some of the most common activities of software deployment include software release, installation, testing, deployment, and performance monitoring.
          td
            |  [1] Online: https://www.sumologic.com/glossary/software-deployment/
        tr
          td 7
          td Devops
          td(class="description")
            | DevOps is a combination of software development (dev) and operations (ops). It is defined as a software engineering methodology which aims to integrate the work of development teams and operations teams by facilitating a culture of collaboration and shared responsibility.
          td
            |  [1] Online: https://about.gitlab.com/topics/devops/#:~:text=DevOps%20is%20a%20combination%20of,of%20collaboration%20and%20shared%20responsibility.
        tr
          td 8
          td Express Js
          td(class="description")
            | Express is a minimal and flexible Node.js web application framework that provides a robust set of features for web and mobile applications.
          td
            |  [1] Online: https://expressjs.com/
        tr
          td 9
          td Npm Js
          td(class="description")
            | npm is a package manager for the JavaScript programming language maintained by npm, Inc. npm is the default package manager for the JavaScript runtime environment Node.js. It consists of a command line client, also called npm, and an online database of public and paid-for private packages, called the npm registry.
          td
            |  [1] Online: https://en.wikipedia.org/wiki/Npm
        tr
          td 10
          td Node Js
          td(class="description")
            | Node.js&copy; is a JavaScript runtime built on Chrome's V8 JavaScript engine.
          td
            |  [1] Online: https://nodejs.org/
        