extends layout

block content
  h1 SIT722 DevOps Glossary
  p Welcome to my website showing different terms and their description
    table
      thead
        tr
          th ID#
          th Term
          th Description(class="description")
          th References(class="link")
      tbody
        tr
          td 1
          td Devops
          td(class="description")
            | DevOps is the combination of cultural philosophies, practices, and tools that increases an organization's ability to deliver applications and services at high velocity: evolving and improving products at a faster pace than organizations using traditional software development and infrastructure management processes.
          td(class="link")
            |  [1] Online: <a href="https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=&cad=rja&uact=8&ved=2ahUKEwighJK106GAAxUtbmwGHQ7bAYAQFnoECBAQAw&url=https%3A%2F%2Faws.amazon.com%2Fdevops%2Fwhat-is-devops%2F&usg=AOvVaw2hGSM1UgKYzZ4WqCEEg1ET&opi=89978449">AmazonAws</a>
        tr
          td 2
          td Keyboard
          td(class="description")
            | A computer keyboard is a peripheral input device modeled after the typewriter keyboardwhich uses an arrangement of buttons or keys
          td(class="link")
            |  [1] Online: <a href="https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=&cad=rja&uact=8&ved=2ahUKEwjX2fDK1aGAAxVQcWwGHYkLBmkQFnoECCYQAQ&url=https%3A%2F%2Fen.wikipedia.org%2Fwiki%2FComputer_keyboard&usg=AOvVaw3pKav2HyBSg51kKiTzoAaB&opi=89978449">Wikipedia</a>
        tr
          td 3
          td Reppository
          td(class="description")
            | a place or container where something is deposited or stored.
          td(class="link")
            |  [1] Online: <a href="https://www.merriam-webster.com/dictionary/repository#:~:text=plural%20repositories-,1,a%20repository%20of%20knowledge">Merriam Webster Dictionary</a>
        tr
          td 4
          td Github
          td(class="description")
            | GitHub, Inc. is a platform and cloud-based service for software development and version control using Git, allowing developers to store and manage their code.
          td(class="link")
            |  [1] Online: <a href="https://en.wikipedia.org/wiki/GitHub">Github</a>
        tr
          td 5
          td Github Copilot
          td(class="description")
            | GitHub, Inc. is a platform and cloud-based service for software development and version control using Git, allowing developers to store and manage their code. Copilot is an AI which generates code automatically.
          td(class="link")
            |  [1] Online: <a href="https://en.wikipedia.org/wiki/GitHub">Github Copilot</a>
        tr
          td 6
          td Software Deployment and Operation
          td(class="description")
            | Software deployment includes all of the steps, processes, and activities that are required to make a software system or update available to its intended users. Today, most IT organizations and software developers deploy software updates, patches and new applications with a combination of manual and automated processes. Some of the most common activities of software deployment include software release, installation, testing, deployment, and performance monitoring.
          td
            |  [1] Online: <a href="https://www.sumologic.com/glossary/software-deployment/">https://www.sumologic.com/glossary/software-deployment</a>
        tr
          td 7
          td Devops
          td(class="description")
            | DevOps is a combination of software development (dev) and operations (ops). It is defined as a software engineering methodology which aims to integrate the work of development teams and operations teams by facilitating a culture of collaboration and shared responsibility.
          td
            |  [1] Online: <a href="https://about.gitlab.com/topics/devops/#:~:text=DevOps%20is%20a%20combination%20of,of%20collaboration%20and%20shared%20responsibility.">Devops</a>
        tr
          td 8
          td Express Js
          td(class="description")
            | Express is a minimal and flexible Node.js web application framework that provides a robust set of features for web and mobile applications.
          td
            |  [1] Online: <a href="https://expressjs.com/">Express Js</a>
        tr
          td 9
          td Npm Js
          td(class="description")
            | npm is a package manager for the JavaScript programming language maintained by npm, Inc. npm is the default package manager for the JavaScript runtime environment Node.js. It consists of a command line client, also called npm, and an online database of public and paid-for private packages, called the npm registry.
          td
            |  [1] Online: <a href="https://en.wikipedia.org/wiki/Npm">Npm</a>
        tr
          td 10
          td Node Js
          td(class="description")
            | Node.js&copy; is a JavaScript runtime built on Chrome's V8 JavaScript engine.
          td(class="link")
            |  [1] Online: <a href="https://nodejs.org/">Node Js</a>
        tr
          td 11
          td Demographics
          td(class="description")
            | Distribution of work and contribution by various communities.
          td(class="link")
            |  [1] Online: <a href="https://www.strongdm.com/blog/devops-statistics#:~:text=The%20most%20common%20ethnicity%20of,engineer%20is%2039%20years%20old.">[1] G. Todorov, “40+ devops statistics you should know in 2023,” StrongDM, https://www.strongdm.com/blog/devops-statistics#:~:text=The%20most%20common%20ethnicity%20of,engineer%20is%2039%20years%20old. (accessed Aug. 6, 2023). </a>
      tr
          td 12
          td Firmographics
          td(class="description")
            | Firmographic data is types of information that can be used to categorize organizations, such as geographic area, number of clients, type of organization, industry, technologies used and so on. The data is used to segment organizations into meaningful categories.
          td(class="link")
            |  [1] Online: <a href="https://www.techtarget.com/whatis/definition/firmographic-data#:~:text=Firmographic%20data%20is%20types%20of,segment%20organizations%20into%20meaningful%20categories.">Wigmore, I. (2016) What is firmographic data?: Definition from TechTarget, WhatIs.com. Available at: https://www.techtarget.com/whatis/definition/firmographic-data#:~:text=Firmographic%20data%20is%20types%20of,segment%20organizations%20into%20meaningful%20categories. (Accessed: 06 August 2023). </a>
      tr
          td 13
          td Orchestration
          td(class="description")
            | Orchestration is synchronisation of a large set of application to accomplish a common goal.
          td(class="link")
            |  [1] Online: <a href="https://www.redhat.com/en/topics/automation/what-is-orchestration">Node Js</a>
      tr
          td 14
          td Kubernetes
          td(class="description")
            | It is used for management and deployment of containerised applications.
          td(class="link")
            |  [1] Online: <a href="https://kubernetes.io">The Kubernetes Authors,Available at : https://kubernetes.io</a>
      tr
          td 15
          td Helm
          td(class="description")
            | It is used for management and deployment of kubernetes which in turn manage containerised application.
          td(class="link")
            |  [1] Online: <a href="https://helm.sh/">Available at : https://helm.sh</a>
      tr
          td 16
          td Ubuntu juju
          td(class="description")
            | It is used for managing k8s by open source softwares known as charms.
          td(class="link")
            |  [1] Online: <a href="https://juju.is/">Available at : https://juju.is/</a>
      tr
          td 17
          td Private cloud
          td(class="description")
            | It is used for cloud operation on a personal level.
          td(class="link")
            |  [1] Online: <a href="https://ubuntu.com/cloud/private-cloud">Available at : https://ubuntu.com/cloud/private-cloud</a>
      tr
          td 18
          td SAAS
          td(class="description")
            | It is software as a service in which softwares are available on cloud for use.
          td(class="link")
            |  [1] Online: <a href="https://www.oracle.com/au/applications/what-is-saas/#:~:text=Software%20as%20a%20service%20(SaaS,as%2Dyou%2Dgo%20basis.">Available at : https://www.oracle.com/au/applications/what-is-saas/#:~:text=Software%20as%20a%20service%20(SaaS,as%2Dyou%2Dgo%20basis.</a>
      tr
          td 19
          td IAAS
          td(class="description")
            | It is virtualisation for hardware and physical resources and called infrastructure as a service.
          td(class="link")
            |  [1] Online: <a href="https://cloud.google.com/learn/what-is-iaas#:~:text=Infrastructure%20as%20a%20service%20(IaaS,pay%20for%20what%20they%20use.">Available at : https://cloud.google.com/learn/what-is-iaas#:~:text=Infrastructure%20as%20a%20service%20(IaaS,pay%20for%20what%20they%20use.</a>
      tr
          td 20
          td PAAS
          td(class="description")
            | It is known as Platform as a service. It provides platform to be used which can be any type of platform.
          td(class="link")
            |  [1] Online: <a href="https://cloud.google.com/learn/what-is-paas#:~:text=Platform%20as%20a%20Service%20(PaaS)%20is%20a%20complete%20cloud%20environment,middleware%2C%20tools%2C%20and%20more.">Available at : https://cloud.google.com/learn/what-is-paas#:~:text=Platform%20as%20a%20Service%20(PaaS)%20is%20a%20complete%20cloud%20environment,middleware%2C%20tools%2C%20and%20more.</a>